<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Marape"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto"
        tools:targetApi="31">
        <activity
            android:name=".EditInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".AddGuestActivity"
            android:exported="false" />
        <activity
            android:name=".GuestListActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <!-- NOTE: comentar esta vara para que la LoginActivity deje de ser la principal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateInventoryActivity"
            android:exported="false"
            android:label="@string/create_inventory" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- NOTE: descomentar esto para hacer que esta actividad sea la principal -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>